.card__description {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 31px 15px 31px 21px;
}
