.btn_type_add {
  background-color: #000000;
  color: white;
  border: 1px solid #fff;
  min-width: 150px;
  min-height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 419px) {
  .btn_type_add {
    width: 100%;
  }
}
