.btn_type_delete {
  background: url('../../../images/trash-btn.svg') center no-repeat;
  background-size: 100%;
  cursor: pointer;
  width: 18px;
  height: 19px;
  margin: 0;
  border: none;

  position: absolute;
  top: 20px;
  right: 20px;
}

.btn_type_delete:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in;
}
